


body {background-color: powderblue;}

/* <!--create header--> */
 .header { 
  padding: 20px;
  background-color: greenyellow;
  color: black;
 }

 /* <!--style left item--> */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* <!--style right item--> */
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* <!--style right item--> */
.header div ul {
  list-style-type: none;
}

/* <!--style right item--> */
.header div ul li {
  display: inline-block;
  padding: 10px 15px;
  
}
 
/* <!--style a color--> */
a {
  color: black;
  text-decoration: none;
}

/* <!--style <p>--> */
p {
  
  font-size: 25px;
  font-style: inherit;
  margin-left: 25px;
  text-align: justify;
  
}

/* <!--style <p2>--> */
p2 {   
  
  font-size: 50px;
  font-style: inherit;
  margin-left: 25px;
  text-align: justify;

}

p3{
  font-size: 10px;
  margin: 20px;
  padding: 10px;
}

/* <!--funtion left--> */
.float-left {
  float: left;
  margin-right: 25px;
}

/* <!--funtion right--> */
.float-right {
  float: right;
  margin-left: 25px;
}

/* <!--style flex section about me--> */
section.about-me {
  display: flex;
  flex-direction: row;  
  align-items: flex-start;
  Margin: 10px;
  flex-wrap: wrap;
  align-items: center;
}

/* <!--style flex relative div box about me image --> */
div.box {
  
  position: relative;
  display: inline-block;  
  height: 380px;
  width: 780px;
  margin-top: 75px;
  border: 3px solid #73AD21;
  white-space: nowrap;
  overflow-x: auto;
}
/* <!--style flex absolute image div box inside relative image box --> */
div.absolute {
  position: absolute;
  bottom: 235px;
  left: 0;
  width: 290px;
  height: 140px;
  border: 3px solid #73AD21;
}




/* <!--style section about me  --> */
.box2 {
  padding: 24px;
  margin-left: 60px;
  margin-top: 60px;
  width: 399px;
  height: 340px;
  background-color: #2589bd;
  white-space: wrap;
  overflow-x: auto;
} 

/* <!--style flex nav for item header navigation--> */
 .flex-nav{

  display: flex;
  background-color: greenyellow;
  height:auto;
  flex-direction: column;
 }

/* <!--style navigation flex setions columns  --> */
   .flex-nav > div {
  display: flex;
  border-style: solid;
  margin: 10px;
  font-size: 30px;
  width: 1200px;
  height: 150x;  
  white-space: wrap;
  overflow-x: auto;
 }

 /* <!--style contents text inside the column --> */
 .flex-contents {
  display: flex;
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
 }

 /* <!--trying to clear the images after resizing --> */
 /* img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
} */

/* <!--style footer --> */
.foot {
 display: flex;
  background-color: white;
  justify-content: right;
  justify-content: space-between;
  border-style:double;   
  width: 1312px;
  height: 100Px;
  background-image: url("./images/charlotte2.jfif");
  background-size: 300px 100px;
    
}



  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) and (min-width: 300px) {

  .header {
    padding-bottom: 0;
    justify-content: center;
  }
  .header h1 {
    width: 10%;
    text-align: center;
  }

 

  .header div ul{
    margin-top: 20px;
    width: 10%;
    justify-content: center;
  }

  .header div ul li{
    font-size: 20px;
}
.flex-nav{
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}

.flex-contents {
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}

foot {
  text-align: center;
  width: 10%;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) and (min-width: 200px) {
  .header {
    padding-bottom: 0;
    justify-content: center;
  }
  .header h1 {
    width: 10%;
    text-align: center;
  }

  .header div ul{
    margin-top: 20px;
    width: 10%;
    justify-content: center;
  }

  .header div ul li{
    font-size: 20px;
}

.flex-nav{
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}

.flex-contents {
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}
foot {
  text-align: center;
  width: 10%;
}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 600px) and (min-width: 200px) {
  .header {
    padding-bottom: 0;
    justify-content: center;
  }
  .header h1 {
    width: 10%;
    text-align: center;
  }

  .header div ul{
    margin-top: 20px;
    width: 10%;
    justify-content: center;
  }

  .header div ul li{
    font-size: 20px;
}

.flex-nav{
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}

.flex-contents {
  margin-top: 20px;
  width: 10%;
  justify-content: center;
}
foot {
  text-align: center;
  width: 10%;
}
}
